Package: com.joemerlino.telegramplayback
Name: TelegramPlayback
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Keeps playing audios even in other Telegram conversations. Also enables one touch recording.
Maintainer: Joe Merlino
Author: Joe Merlino
Section: Tweaks
Homepage: https://github.com/joemerlino/