Package: com.joemerlino.telegramplayback
Name: TelegramPlayback
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Keeps playing audios even if you open other applications. You can also open other Telegram conversations while listening if you enable the switch inside the dedicated preference pane.
Maintainer: Joe Merlino
Author: Joe Merlino
Section: Tweaks
Homepage: https://github.com/joemerlino/
Version: 0.0.1-1
Installed-Size: 196
